.footer{
    margin: 80px;
}

.footer-top{
    background-color: #161616;
    border: 1px solid #262626;
    border-radius: 20px;
    padding: 35px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-info{
    display: flex;
    align-items: center;
    gap: 25px;
}
.footer-icon{
    width: 70px;
    height: 70px;
    background-color: #103d2e;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text h2{
  color: white;
  font-size: 32px;
  margin-bottom: 10px;
}
.footer-text p{
    color: #b3b3b3;
    line-height: 1.7;
}
.download-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: #10b981;
    color: white;

    text-decoration: none;

    border: none;
    border-radius: 12px;

    padding: 16px 35px;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    transition: .3s;
}

.download-btn:hover{
    background-color: #0ea371;
}

.footer-bottom{
    margin-top: 20px;

    background-color: #161616 ;
    border: 1px solid #262626;
    border-radius: 20px;

    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom p{
    color:  #a3a3a3;
}
.social-icons{
    display: flex;
    gap: 20px;
}

.social-icons a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover{
    color: #10b981;
}

.social-icons svg{
    font-size: 24px;
}

@media (max-width: 992px){

    .footer{
        margin: 60px 20px;
    }

    .footer-top{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .footer-info{
        flex-direction: column;
    }

    .footer-text h2{
        font-size: 28px;
    }

    .download-btn{
        width: 220px;
    }

    .footer-bottom{
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

}



@media (max-width:576px){

    .footer{
        margin: 40px 15px;
    }

    .footer-top{
        padding: 30px 20px;
    }

    .footer-icon{
        width: 60px;
        height: 60px;
    }

    .footer-text h2{
        font-size: 24px;
    }

    .footer-text p{
        font-size: 14px;
    }

    .download-btn{
        width: 100%;
        max-width: 250px;
        padding: 14px;
    }

    .footer-bottom{
        padding: 20px;
    }

    .footer-bottom p{
        font-size: 14px;
    }

    .social-icons{
        justify-content: center;
        gap: 15px;
    }

    .social-icons svg{
        font-size: 22px;
    }

}
