.skills{
   margin-top: 80px;  
}

.skills h2{
    color: #10b981;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.skills-grid{
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 20px;
}
.skill-card{
    background-color: #161616;
    border: 1px solid #262626;
    border-radius: 15px;

    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.3s;
}
.skill-card:hover{
    border-color: #10b981;
    transform: translateY(-5px);
}
.skill-card svg{
    font-size: 50px;
    color: white;
}
.skill-card h3{
    color: white;
    font-size: 18px;
    font-weight: 500;
}